body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.form_inputes input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid purple;
  margin: 10px 0;
}
.form_inputes button {
  padding: 10px 30px;
  background: purple;
  margin: 10px 0;
  color: white;
  border: 0;
}
